/* ---------------------
Color variables
--------------------- */

:root {
    --red       : #c4113c;
    --orange    : #fcaf17;
    --yellow    : #ffdd14;
    --green     : #3ba649;
    --dark-green: #216c2a;
    --blue      : #2b6da6;
    --dark-blue : #06205c;
  
    --light: #f7f7f7;  /*Row backgrounds should alternate between "light" and white*/
    --gray : #5b5b5b;
  }