/* ---------------------
Typography
--------------------- */
    
/* Headings: Titillium Web */
h1 {
    color: #fff;
    width: 300px;
}

h2 {
    color: var(--dark-blue);
}

h3 {
    color: var(--dark-blue);
}

h4 {
    font-weight: bold;
    color      : var(--dark-blue);
}

/* Body Text: Open Sans */
p {
    font-size: 16px;
    color    : var(--gray);
}

/* ----- Special cases -----  */

.nav-number {
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size  : 36px;
    color      : var(--dark-blue);
}

.row-text {
    text-align: left;
}

.col-text {
    text-align: center;
}

.header-nav-full .nav-element .col-text {
    font-size  : 12px;
    font-weight: bold;
}

/* ----- Media queries based on Bootstrap breakpoints -----  */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .row-text {
    text-align: center;
    }

    .col-text {
    width: 150px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .col-text {
        text-align: left;
        width     : 300px;
    }
    h1 {font-size:  32px;}
    h2 {font-size:  26px;}
    h3 {font-size:  22px;}
    h4 {font-size:  18px;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    h1 {font-size:  40px;}
    h2 {font-size:  32px;}
    h3 {font-size:  24px;}
    h4 {font-size:  18px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1 {font-size:  48px;}
    h2 {font-size:  36px;}
    h3 {font-size:  28px;}
    h4 {font-size:  18px;}
    }
