<!----- Use this for circle-icon elements that link to other pages ----->
<a href="">
    <!-- 
        Optional classes to add: small, medium, large, active 
        --element-color options: red, orange, yellow, green, dark-green, blue, dark-blue 
    -->
    <div class="circle" style="--element-color: var(--blue);">
        <!-- replace -->
        <svg class="icon"></svg>
    </div>
</a>

<!----- Static (no link) ----->
<!-- 
    Optional classes to add: small, medium, large, active 
    --element-color options: red, orange, yellow, green, dark-green, blue, dark-blue 
-->
<div class="circle" style="--element-color: var(--blue);">
    <!-- replace -->
    <svg class="icon"></svg>
</div>


