<!-- Copy and paste these examples into Hub text elements -->


<!-- DRC homepage nav element -->
<div class="nav-element">
    <div class="circle medium" style="">
        <img class="icon" src="" />
    </div>
    <span class="nav-number">...</span>
    <p class="col-text">...</p>
 </div>

 <!-- Header nav element -->
 <div class="nav-element">
    <div class="circle small" style="">
        <img class="icon" src="" />
    </div>
    <p class="col-text">...</p>
 </div>

 <!-- Button stack element -->
 <div class="button-stack-element">
    <a href="">
        <button style="background-color: var(--red); color: white;">Rapid Needs Assessment</button>
    </a>
    <a href="">
        <button style="background-color: var(--red); color: white;">Disaster Declaration</button>
    </a>
    <a href="">
        <button style="background-color: var(--red); color: white;">Letter to Governor</button>
    </a>
  </div>