<!-- Copy and paste these examples into Hub text elements -->

<!-- Header rows (set background to dark-blue in Hub) -->
<div class="group">
    <!-- Static (no link) -->
    <!-- 
        Optional classes to add: small, medium, large, active 
        element-color options: red, orange, yellow, green, dark-green, blue, dark-blue 
    -->
    <div class="circle" style="--element-color: ;">
        <img class="icon" src="" />
    </div>
    <h1 class="row-text">...</h1>
    <button style="--element-color: ;">Button</button>
</div>

<!-- DRC homepage nav -->
<div class="group">
    <!-- DRC homepage nav element -->
    <div class="nav-element">
        <!-- Use this for circle-icon elements that link to other pages -->
        <a href="">
            <!-- 
                element-color options: red, orange, yellow, green, dark-green, blue, dark-blue 
            -->
            <div class="circle medium" style="--element-color: var(--blue);">
                <img class="icon" src="https://raw.githubusercontent.com/lillie-bahrami/tdem-hub-elements/master/SVG/drc-1.svg" />
            </div>
        </a>
        <span class="nav-number">1</span>
        <p class="col-text">Local Official Verification</p>
    </div>

    <!-- Add additional nav-elements here -->
</div>

<!-- DRC "full-width" header nav -->
<div class="group header-nav-full">
    <div class="nav-element">
        <!-- Use this for circle-icon elements that link to other pages -->
        <a href="">
            <!-- 
                Optional classes to add: active 
                element-color options: red, orange, yellow, green, dark-green, blue, dark-blue 
            -->
            <div class="circle small" style="--element-color: ;">
                <img class="icon" src="">
            </div>
        </a>
        <p class="col-text">Local Official Verification</p>
    </div>

    <!-- Add additional nav-elements here -->
</div>

<!-- 
    DRC accordion header nav: 
    * add class "header-nav-responsive" to the outermost div with class "accordion"
    * paste this in the div with class="panel-collapse collapse in"  
-->
<div class="group panel-body">
    <a href="">
        <div class="nav-element">
                <!-- 
                    Optional classes to add: active 
                    element-color options: red, orange, yellow, green, dark-green, blue, dark-blue 
                -->
                <div class="circle small" style="--element-color: ;">
                    <img class="icon" src="">
                </div>
            <p class="col-text"></p>
        </div>
    </a>

    <!-- Add additional nav-elements here -->
</div>
