/* ---------------------
    Groups (navs or header rows)
    --------------------- */

.group {
  display        : flex;
  width          : 100%;
  flex-flow      : row nowrap;
  justify-content: space-around;
  align-items    : center;
  gap            : 2%;
}

.header-row {
  justify-content: center;
}

.group.header-nav-full {
  justify-content: center;
}

.home-nav-responsive {
  display: none;
}

.header-nav-responsive {
  display: none;
}

/* ---------------------
    Media queries based on Bootstrap breakpoints
    --------------------- */

/* Medium devices and smaller (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /*--- Groups and navs: header-navs breakpoint ---*/

  .header-nav-full {
    display: none;
  }

  .header-nav-responsive {
    display: contents;  /*Not a flex container*/
  }

  .header-nav-responsive a {
    width: 100%;
  }

  .header-nav-responsive .group {
    flex-flow: column nowrap;
    width    : 100%;
  }
}

/* Small devices (landscape phones, less than 768px) */
/*not an official bootstrap breakpoint*/
@media (max-width: 820px) {
  /*--- Groups and navs: Header-row, homepage nav breakpoint ---*/

  .group {
    flex-flow: column nowrap;
    width    : 100%;
  }

  .home-nav-responsive {
    display: flex;
  }

  .home-nav-full {
    display: none;
  }
}
