/* ---------------------
    Nav elements
    --------------------- */

/* Titles, other info attached to circle icons in navs */
.nav-element {
  display        : flex;
  flex-flow      : column nowrap;
  align-self     : flex-start;
  align-items    : center;
  justify-content: space-evenly;
  gap            : 1rem;
  width          : 125px;          
}

/* Small devices and smaller (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Nav elements turn into wide buttons */
  .nav-element {
    flex-flow: row nowrap;
    width    : 100%;
    padding  : 2rem 0rem;
  }

  .nav-element:nth-of-type(2n) {
    background-color: var(--light);
  }

  .nav-element:nth-of-type(2n-1) {
    background-color: #fff;
  }
}